@charset "ISO-8859-1";

*{
    margin: 0px;
    padding: 0px;
}

.content
{
    height: auto;
    margin: 20px auto;
    width: 700px;
    border: 1px solid #999;
    background-color: rgb(191, 213, 243);
}

.content h1{
    text-transform: uppercase;
    color: red;
    text-align: center;
    background-color: rgb(29, 87, 220);
    padding: 5%;
}

.content div.dong{
margin-top: 20px;

}

.content div.dong span{
    display: inline-block;
    width: 255px;
    text-align: center;
}

.content div.dong p{
    font-weight: bold;
    text-align: center;
}


.content div.dong input
{
    width: 50%;
    height: 25px;
}

.content div.btn_sub input
{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50%;
    width: 20%;
    height: 25px;
}